html {
    background-color: #302624;
    font-size: 10px;
}

@font-face {
    font-family: 'Harry P';
    src: url("HARRYP__.TTF");
}

h1 {
    font-family: 'Harry P';
    font-size: 5rem;
    color: goldenrod;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
}

section img {
    outline-style: solid;
    outline-color: goldenrod;
    outline-width: 0.5rem;
    margin: 1rem;
    width: 15rem;
}

h3 {
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: white;
    font-size: 1.3rem;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 650px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 950px) {
    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}